<ion-view view-title="Trang chủ">
  <ion-content class="has-header home-page">
    <div class="assets">
      <h2>Information</h2>
      <div class="group-assests row">
        <div ui-sref="app.assets.list" class="col col-25">
          <div set-same-height="set-same-height" class="item-contain">
            <div class="item-image">
              <image ng-src="" class="image-size"></image>
            </div>
            <div class="item-decription">Search</div>
          </div>
        </div>
        <div ui-sref="app.assets.recent" class="col col-25">
          <div set-same-height="set-same-height" class="item-contain">
            <div class="item-image">
              <image ng-src="" class="image-size"></image>
            </div>
            <div class="item-decription">Search 1</div>
          </div>
        </div>
        <div ui-sref="app.assets.myAssets" class="col col-25">
          <div set-same-height="set-same-height" class="item-contain">
            <div class="item-image">
              <image ng-src="" class="image-size"></image>
            </div>
            <div class="item-decription">Search 2</div>
          </div>
        </div>
        <div ui-sref="app.hierarchy" class="col col-25">
          <div set-same-height="set-same-height" class="item-contain">
            <div class="item-image">
              <image ng-src="" class="image-size"></image>
            </div>
            <div class="item-decription">Search 3</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
