<ion-view view-title="Đăng nhập">
  <ion-content>
      <form ng-submit="login()">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Tên đăng nhập" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Mật khẩu" ng-model="data.password">
            </label>
        </div>
        <button class="button button-block button-calm" type="submit">Đăng nhập</button>
      </form>
    </ion-content>
</ion-view>